* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBE8CF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333333;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 25px 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.logo {
    width: 80px;
    margin-bottom: 15px;
}

h1 {
    font-size: 20px;
    font-weight: 500;
    color: #555555;
    margin-bottom: 25px;
}

.email,
.senha,
.confirmar-senha {
    text-align: left;
    margin-bottom: 20px;
}

.email label,
.senha label,
.confirmar-senha label {
    font-size: 14px;
    color: #8c8c8c;
    display: block;
    margin-bottom: 5px;
}

.email input,
.senha input,
.confirmar-senha input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #cccccc;
    padding: 8px 0;
    background-color: transparent;
    font-size: 14px;
    color: #333333;
    outline: none;
    transition: border-color 0.3s;
}

.email input:focus,
.senha input:focus,
.confirmar-senha input:focus {
    border-bottom-color: #a0a0a0;
}

.button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    background-color: #aaa;
    color: white;
}

.botao:hover {
    background-color: #b3b3b3;
}