<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
    <link rel="stylesheet" href="/src/styles/styleCriarConta.css">
</head>
<body>
    <div class="container">
        <img src="/src/assets/images/LOGO (4).png" alt="Logo Jardim Real" class="logo" />
        
        <h1>Criar Conta</h1>

        <form>
            <div class="email">
                <label for="email-input">Email</label>
                <input type="email" id="email-input" required>
            </div>
            
            <div class="senha">
                <label for="senha-input">Senha</label>
                <input type="password" id="senha-input" required>
            </div>

            <div class="confirmar-senha">
                <label for="confirmar-senha-input">Confirmar Senha</label>
                <input type="password" id="confirmar-senha-input" required>
            </div>

            <button type="submit" class="button">Confirmar</button>
        </form>
    </div>
</body>
</html>